body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #9ad5ca, #ACB6E5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 500px;
  text-align: center;
}

.logo {
  width: 150px;
  margin-bottom: 10px;
}

h2 {
  font-size: 35px;
  margin-bottom: 20px;
  color: #333;
}

form input {
  font-size: 15px;
  width: 100%;
  padding: 15px;
  margin: 10px 0px 10px -10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
}

.options a {
  text-decoration: none;
  color: #007BFF;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #0f1d42c9;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  opacity: 0.6;
}

.register-link {
  margin-top: 20px;
  font-size: 14px;
}

.register-link a {
  color: #007bfe;
  text-decoration: none;
}

@keyframes slideUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.login-container {
  animation: slideUp 0.6s ease-out;
  animation-fill-mode: both;
}