body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.burger-icon {
  position: fixed;
  top: 30px;
  left: 20px;
  z-index: 1000;
}

.burger-img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 999;
}

.burger-menu.active {
  transform: translateX(0);
}

.top-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  position:fixed;
  height: 60px;
  width : 120px;
  top: 20px;
  margin-bottom: 20px;
  left: 140px;
}

.profile-card2 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 80px;
}

.avatar {
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-info {
  font-size: 14px;
}

.email {
  font-size: 12px;
  color: #bdc3c7;
}

.burger-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.burger-menu li {
  display: flex;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #34495e;
  cursor: pointer;
}

.burger-menu li:hover {
  background-color: #3d566e;
}

.icon {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.block{
  background-color: rgb(95, 156, 156);
  border-radius: 50px;
  margin-bottom: 10px;
}

.menu-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.menu-link:hover {
  background-color: #3d566e;
}