body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(198 235 235);
}

.main-content {
  margin-left: 260px;
  padding: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  color: #2c3e50;
  margin: 0;
}

.profile-card {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;
  animation: slideUp 0.6s ease-out;
}

.info-left {
  flex: 1;
}

.info-left p {
  font-size: 16px;
  margin: 12px 0;
  display: block;
}

.profile-card strong {
  color: #003366;
}

.about-section {
  flex: 1;
  background-color: #ecf0f1;
  padding: 20px;
  border-radius: 8px;
  max-width: 100%;
  word-break: break-word;
}

.about-section h3 {
  margin-top: 0;
  color: #2c3e50;
}

.about-section p {
  font-size: 15px;
  margin-bottom: 10px;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

.field-group {
  margin: 12px 0;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 6px;
}

.tag {
  background-color: #dfe6e9;
  color: #2c3e50;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  white-space: nowrap;
}

.action-section {
  margin-top: 30px;
  text-align: center;
}

#sendRequestBtn, #sendgRequestBtn {
  background-color: #27ae60;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  margin-right: 15px;
  cursor: pointer;
  font-size: 15px;
  transition: background 0.3s ease;
}

#sendRequestBtn:hover, #sendgRequestBtn:hover  {
  background-color: #219150;
}

#backBtn {
  background-color: #95a5a6;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  transition: background 0.3s ease;
}

#backBtn:hover {
  background-color: #7f8c8d;
}

@keyframes slideUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}